body{background-color: white;
    position: relative;
    height: 1870px;
    /* width: 1440px; */
    overflow-x: hidden;
    /* padding-right: 130px; */
}

/* Rectanglel Bar on Top of Pre-Launch */
.Group14{
    background-color: #ffffff;
    width: 1110px;
    height: 58px;
    margin-top: 55px;
    margin-left: 10% ;
   /* position: absolute; */
}

/* Button Within Rectangle Bar */
.Group14 button{
    width: 175px;
    height: 58px;
    left:1020px;
    position: absolute;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    background-color:#e8eff2;
    color: #162542;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Group14 button:hover{
    cursor: pointer;
    background-color: #162542;
    color: #ffffff;
}

.logo{
    width:40px;
    height:40px;
    padding-top: 10px
}

/* Type Keyboard Master */
.Group4{
    background-color: #ffffff;
    width: 445px;
    height: 312px;
    margin-left: 10%;
    margin-top:256px;
    position: inherit;
}

.keyboardmaster{
    /* width: 445px;
    height: 112px;     */
}

/* Type Keyboard Master */
.Typemaster-keyboard p {
    color: #162541;
   text-transform: uppercase;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 56px;
   line-height: 56px;
   /* top:0%; */
   bottom: 64.1%;
}

/* Type Keyboard Master */
.Improve-product{
    width: 445px;
    height: 78px;
    top:136px;
}

/* .Improve-product  {
    width: 445px;
    height: 78px;    
} */

.Improve-product p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: #7B8BAD;
    top: 43.59%;
    bottom: 31.41%;
    position:absolute
}

/* .rectangle{
    background-color:#F16718;
    border: none;
    position: absolute;
    border-radius: 8px;
    height: 58px;
    width: 175px;
} */

/* Button  */
.rectangle button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color:#FFFFFF;
    text-transform: uppercase;
    left: 14.86%;
    right: 15.43%;
    /* top:calc(-26px/2);  */
    background-color:#F16718;
    border: none;
    border-radius: 8px;
    height: 58px;
    width: 175px;
}

.Release{
    /* width:127px; */
    /* height: 26px; */
    position: absolute;
    /* float:right ; */
    left: 215px;
    /* top:calc(50% - 26px/2 + 127px);  */
    /* position: relative; */
}
.Release p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    text-transform:uppercase;    
    /* position: absolute;   */
}

.Group3 img{
    width: 540px;
    height: 480px;
    left:670px;
    top:196px;
    position: absolute;
    border-radius: 8px;
}

/* Mid Section of Type Master Keyboard */
.Group3-Copy2 {
    width: 255px;
    height: 480px;
    margin-left: 140px;
    margin-top: 138px;
    position: relative;
    background-color: #F16718;
    position: absolute;
    border-radius:8px;
}

.Group3-Copy2 img{
    width: 100%;
    opacity: 0.25;
}

.Group3Copy img{
    width: 445px;
    height: 480px;
    margin-left:430px;
    margin-top: 138px; 
    border-radius:8px
}

.Group6{
    width: 255px;
    height: 265px;
    margin-left: 950px;
    /* top:818px;     */
    bottom: 750px;
    /* background-color: orange; */
    position: absolute;
}

.Mechanical-wireless{
    /* background-color: cornflowerblue; */
    width:255px;
    height: 108px;
}

.Mechanical-wireless p{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    line-height:36px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #162542;
    position: absolute;
    top: -34px;    
}

.The-Typemaster{
    width: 225px;
    height: 130px;
}
.The-Typemaster p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #7B8BAD;
    ;
    position: absolute;
}

.Group9{
    display: inline-flex;
}

/* Buttom Section of Pre Launch Project */
.Highly-Compatible{
  width:255px;
  height: 323px;
  margin-left: 165px;
  margin-top: 168px;
  margin-bottom:193px;
  /* background-color: #F16718; */
}

.Wireless-With-Bluetooth{
  width:255px;
  height: 323px;
  margin-left: 30px;
  margin-top: 168px;
  margin-bottom:193px;
  /* background-color: Green; */
}

.High-Capacity{
    width:255px;
    height: 323px;
    margin-left: 30px;
    margin-top: 168px;
    margin-bottom:193px;
    /* background-color: blueviolet; */
}

.RGB-BACKLIT{
    width:255px;
    height: 323px;
    margin-left: 30px;
    margin-top: 168px;
    margin-bottom:193px;
    /* background-color: coral; */
}

.Compatible{
    width:255px;
    height: 56px;
}

.Compatible p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #162542;
    text-transform: uppercase;
}

.Easy-to-use{
    width: 255px;
    height: 130px;
}

.Easy-to-use p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.Powerful-RF{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.Wireless{
    width: 255px;
    height: 56px;
}

.Wireless{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 97%;
    align:left;
    /* verticalalign: top; */
    color: #162542;
    text-transform: uppercase;
}

.Capacity{
    width: 255px;
    height:56px;
}

.Capacity p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-size:24px;
    line-height:24px;
    align:left;
    text-transform:uppercase;
    font-weight:900;
    color:#162542
}

.Equiped{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    font-style: medium;
}    

.Backlit{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #162542;
    text-transform: uppercase;
}

.Backlight{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.footer{
     /* width: 272px; */
    height: 26px; 
    top: 1805px;
    margin-left: 584px;
}

.Icon-Compatible{
    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Icon-Bluetooth{
    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon-Battery{
    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon-Backlight{
    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: 500; */
    color: #7B8BAD;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 39px;
}

 .Group3Copy3 img{
    /* margin-left: -120px;
    margin-top: -963px;  
    margin-bottom: 684px; 
     width: 225px;
    height: 236px;
    border-radius: 20px;
    position: absolute; */
    position: absolute;
    left: -150px;
    top: 152vh;
} 

 .Group3Copy4 img{
    /* width:135px;
    height: 240px;
    margin-left: 1400px; */
    /* margin-top: -850x; */
    /* position: absolute; */
    /* padding-left: 20px;
    padding-right: 0px;
    margin-right: 0px; */
    position: absolute;
    right: -150px;
    /* margin-top: 1239px; */
    top: 29vh;

} 
    